@import "tailwindcss";

body {
  background: black;
  color: white;
}

h1 {
  font-family: var(--font-merriweather), serif;
  font-size: 30px;
}

p, h2 {
  font-family: var(--font-cantarell), sans-serif;
  font-weight: 100;
  font-style: normal;
}

